@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Skeleton UI theme */
@import '@skeletonlabs/skeleton/themes/theme-vintage.css';
@import '@skeletonlabs/skeleton/styles/skeleton.css';
